.view-form,
.view-form * {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

/* whole form */
.view-form {
  max-width: 350px;
  margin: 50px auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  background: #eeeeee;
}

/* fieldset */
.view-fieldset {
  padding: 30px;
  border: none;
}


/* header */
.posts-header{
  margin-bottom: 15px;
  text-align: center;
  color: #333333;
}

.post-title{
  text-align: center;
}

/* posted pic */
#posted-pic{
  width: 100%;
}
.pic-sub-info{
  font-size: 12px;
}

.desc{
  width: 100%;
  text-align: center;
  margin-top: 18px;
}
.desc span{
 font-size: 18px;
}
p{
  margin: 0px;
}